body {
  margin-top: 20px;
  background-color: #aaff80;
}

.menu {
  background-color: #ffff4d !important;
  margin-bottom: 20px;
}

.popup {
  background-color: #ffff4d;
  max-width: 400px !important;
}

.card-image {
   height: 350px;
  overflow: hidden;
}

.card-color {
  background-color: limegreen !important;
}
.card-color button {
  background: yellow none !important;
}

.card-image img {
  /* background-color: green !important; */
  width: 100%;
}

